*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// *,*::after,*::before{
//     box-sizing: inherit;
// }

body{
    background-color: rgb(14, 33, 48);
    width: 100%;
}

header{
    background-color: rgb(14, 33, 48);
    padding: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    img{
        width: 80%;
    }
    a{
        text-decoration: none;
        color:#fff;
        text-transform: capitalize;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 7px;
    }
}

.intro{
    background-color: rgb(14, 33, 48);
    padding: 30px 10px 60px 10px;
    background-image: url(https://dark-theme-landing-page-frontend-mentor.vercel.app/images/bg-curvy-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    display:flex;
    justify-content: center;
    img{
        width: 70%;
    }
    div{
        text-align: center;
    }
    h1{
        padding: 25px 20px 25px 20px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;
        color: #fff;
    }
    p{
        padding: 25px 20px 25px 20px;
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #fff;
    }
    button{
        padding: 12px 80px;
        border-radius: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        background-color: hsl(198, 60%, 50%);
        border-style: none;
        &:hover{
            background-color: hsl(176, 68%, 64%);
        }
    }
}

main{
    background-color:hsl(218, 28%, 13%);
    .features{
        padding: 3% 10% 3% 10%;
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 1fr;
        div{
            padding: 3%;
            img{
                margin: 5px;
            }
            text-align: center;
            color: #fff;
            font-family: sans-serif;
            p{
                padding: 20px;
                line-height: 25px;
            }
        }
    }
    @media (max-width:768px)
    {
        .features{
            display: grid;
            grid-template-columns: repeat(1,1fr);
        }
    }

    .moto{
        display: flex;
        padding: 2% 10%;
        div{
            padding: 2%;
            color: #fff;
        }
        img{
            width: 90%;
        }
    }

    @media (max-width:786px)
    {
        .moto
        {
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
        }
    }

    .testimonial{
        padding: 5% 10% 0% 10%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        .tml_div{
            width: 28%;
            padding: 20px;
            margin: 0% 2%;
            border-radius: 5px;
            background-color: #202a3c;
            box-shadow: 1px 5px 15px -10px #555;
            color: #fff;
            p{
                margin-bottom: 10px;
            }

            .profiles{
                display: flex;
                justify-content:left;
                align-items: center;
                img{
                    width: 12%;
                    height: 12%;
                    border-radius: 100%;
                    margin-right: 20px;
                }
                h1{
                    font-size: 15px;
                }
                p{
                    font-size: 15px;
                }
            }
        }
    }

    @media (max-width:1024px){
        .testimonial{
            flex-direction: column;
            .tml_div{
                width: 90%;
                margin-bottom:35px ;
            }
        }
    }

    .mail_bar{
        h1{
            font-size: 40px;
        }
        text-align: center;
        color: #fff;
        width: 70%;
        margin: 0% 15% 0% 15%;
        padding: 3%;
        background-color: rgb(14, 33, 48);
        border-radius: 20px;
        box-shadow: 1px 5px 15px -10px #555;
        position: relative;
        bottom: -110px;
        z-index: 2;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        input{
            width:30%;
            padding: 5px;
            border-radius: 20px;
            border-style: none;
        }
        button{
            width:20%;
            padding: 8px;
            margin: 10px;
            border-radius: 20px;
            background-color: hsl(198, 60%, 50%);
            border-style: none;
            font-weight: 500;
            &:hover{
                background-color: hsl(176, 68%, 64%);
            }
        }
    }
}

@media (max-width:1024px){
    .mail_bar{
        margin: 0% 15% 0% 15% !important;
        h1{
            font-size: 30px !important;
        }
        p{
            font-size: 20px !important;
        }
        button{
            width: 30%!important;
        }
    }
}

footer{
    img{
        padding:30px 0px;
    }
    position: relative;
    background-color: hsl(216, 53%, 9%);
    padding: 15% 5% 5% 5%;
    .footer_content{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    div{
        width: 100%;
        height: 20%;
        padding: 2%;
        color: #fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        li{
            padding-bottom: 1% ;
        }
    }
    p{
        text-align: center;
        font-weight: 500;
        color: #fff;
    }

    @media (max-width:768px)
    {
        .footer_content
        {
            flex-wrap: wrap;
        }
    }
}
